@import '../node_modules/bootstrap/scss/bootstrap.scss';

.fullview {
    height: 100vh;
    width: 100vw;
}

.fullwidth {
    width: 100vw;
}

.bg-red {
    background-color: red;
}

#profile-picture {
    height: 296px;
    width: 296px;
}