
#flow-field {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#title-card {
    color: white;
    border-width: 4px;
    border-radius: 0px;
    background-color: black;
    border-color: white;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
}

p, a{
    font-family: 'Lato', sans-serif;
}
